.open-sans-font {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}


body {
    font-family: 'Open Sans', sans-serif;
    background-color: #DFF2EB;
    color: #4A628A;
    /* background-image: url('./circle-scatter-haikei.svg'); */
    aspect-ratio: 960/540;
    width: 100%;
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    max-width: 1000px;
    margin: auto;
    /* padding adds space towards the inside of the border */
    padding: 2rem;
    line-height: 1.6;
}

section {
    position: relative;
    margin-bottom: 3rem;
}

nav {
    background-color: #B9E5E8;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    margin-bottom: 2rem;
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: #4A628A;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #7AB2D3;
}


.hero {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    margin-bottom: 2rem;
    animation: fadeInUp 0.6s ease-out forwards;
}

.hero h1 {
    font-size: 2.2rem;
    margin-bottom: 0.5rem;
    color: #4A628A;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
}

.hero-text {
    flex: 1;
}

.hero-image img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tagline {
    display: inline-block;
    background-color: #B9E5E8;
    color: #4A628A;
    padding: 0.4rem 0.8rem;
    border-radius: 20px;
    font-size: 0.95rem;
    margin-bottom: 1rem;
}


.about-preview,
.project-preview,
.contact-preview {
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 12px;
    margin-bottom: 2rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    animation: fadeInUp 0.6s ease-out forwards;
}


.about-preview h2,
.project-preview h2,
.contact-preview h2 {
    margin-top: 0;
    color: #4A628A;
}

a {
    color: #7AB2D3;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover {
    color: #4A628A;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.dev-credit {
    text-align: center;
    font-size: 0.9rem;
    color: #777;
    margin-top: 4rem;
    padding-bottom: 2rem;
}

.dev-credit .dev-name {
    font-weight: bold;
    color: #555;
}

.dev-credit .dev-name:hover {
    color: #000;
}